<% include ./partials/header %>
  <!-- __________________ Hero ________________________ -->
  <section class="hero">
    <div class="background-image"></div>
    <div class="hero-content-area">
      <h1>James Stevenson</h1>
      <h3>I am a
        <span class="txt-rotate" data-period="2000" data-rotate='[ 
                  "Web Developer", 
                  "Espresso Drinker", 
                  "Problem Solver",
                  "Hot Sauce Addict",
                  "Computer Nerd" 
              ]'>
        </span>
      </h3>
      <div class="iconGrid">
        <img class="icons" src="img/Icons/HTML5.png" alt="Oh shit">
        <img class="icons" src="img/Icons/CSS.png" alt="Oh shit">
        <img class="icons" src="img/Icons/Bootstrap.png" alt="Oh shit">
        <img class="icons" src="img/Icons/Javascript.png" alt="Oh shit">
        <img class="icons" src="img/Icons/jquery.png" alt="Oh shit">
        <img class="icons" src="img/Icons/React.png" alt="Oh shit">
        <img class="icons" src="img/Icons/Node.png" alt="Oh shit">
        <img class="icons" src="img/Icons/Express.png" alt="Oh shit">
        <img class="icons" src="img/Icons/mongoDB.png" alt="Oh shit">
        <img class="icons" src="img/Icons/D3.png" alt="Oh shit">
        <img class="icons" src="img/Icons/Wordpress.png" alt="Oh shit">
        <img class="icons" src="img/Icons/nespresso.png" alt="Oh shit">
      </div>
    </div>

  </section>
  <!-- ___________________ About Me  _______________________ -->
  <section class="about" id="aboutme">
    <h3 class="title">About me</h3>
    <hr>
    <div class="about">
      <div class="flex aboutImg">
        <img src="img/jamesandleia.jpg" alt="">
      </div>
      <div class="flex aboutImg back">
        <img src="img/jamesandtanya.jpg" alt="James and Tanya">
      </div>
      <div class="aboutText">
        <p>Hi, I'm James. I am a British junior full stack web developer living on the Costa del Sol with my wife Tanya and
          my pooch, Leia (yes, as in
          <img src="img/leia.png" class="leia">). I have lived in Mijas since 2002 and consider this part of the world my home.
        </p>
        <p>My love for problem solving and walking the untrodden path have driven me find a passion for programming at the ripe
          old age of 30. </p>
        <p>I’ve been fixing and improving computers since I was 10 when my parents brought home a brand-new Windows 96 machine
          in the late 90’s. I have always been interested in how devices work and how to get the best out of them. I am now
          directing that level of engagement to learning every day.</p>
        <p>My basic stack of choice is based around HTML, CSS, JavaScript, React, Node and MongoDB. I have many years of experience
          working with WordPress for small business websites and those looking to avoid the commitment of a custom-built
          application.</p>
      </div>
    </div>
  </section>

  <!-- ___________________ Work ________________________ -->
  <section class="packages">
    <h3 class="title">Some of my work</h3>
    <p>Here's a little sample of the work that I've done. There is a collection of </p>
    <hr>

    <ul class="grid">
      <li>
        <a href="https://yelpcamp-jrws.herokuapp.com" target="blank">
          <img src="img/YelpCamp.jpg" class="projectImg">
          <h4>YelpCamp</h4>
        </a>
        <p>YelpCamp is a full stack app that was a fundamental part of me learning Node and MongoDB. I look forward to having
          some spare time and continue experimenting and adding new features.</p>
        <div class="iconGrid">
          <img class="icons" src="img/Icons/HTML5.png" alt="Oh shit">
          <img class="icons" src="img/Icons/CSS.png" alt="Oh shit">
          <img class="icons" src="img/Icons/Bootstrap.png" alt="Oh shit">
          <img class="icons" src="img/Icons/Javascript.png" alt="Oh shit">
          <img class="icons" src="img/Icons/Node.png" alt="Oh shit">
          <img class="icons" src="img/Icons/Express.png" alt="Oh shit">
          <img class="icons" src="img/Icons/mongoDB.png" alt="Oh shit">
        </div>
      </li>
      <li>
        <a href="/playground">
          <img src="img/learnjs.jpg" class="projectImg">
          <h4>JavaScript Playground</h4>
        </a>
        <p>This is just a collection of random JavaScript files that have been a bit of fun and practice.</p>
        <div class="iconGrid">
          <img class="icons" src="img/Icons/HTML5.png" alt="Oh shit">
          <img class="icons" src="img/Icons/CSS.png" alt="Oh shit">
          <img class="icons" src="img/Icons/Javascript.png" alt="Oh shit">
        </div>
      </li>
      <li>
        <a href="https://wowmundo.com" target="blank">
          <img src="img/wowmundo.jpg" class="projectImg">
          <h4 id="wowmundo">WOWmundo</h4>
        </a>
        <p>WOWmundo is a free to use global whats on where site. Creating this site was a fantastic learning experience and
          I would love to rebuild it in Node. </p>
        <div class="iconGrid">
          <img class="icons" src="img/Icons/Wordpress.png" alt="Oh shit">
        </div>
      </li>
      <li>
        <a href="http://universalestates.net" target="blank">
          <img src="img/unes.jpg" class="projectImg">
          <h4 id="unes">Universal Estates</h4>
        </a>
        <p>Real Estate site for a company based on the Costa del Sol. A simple Wordpress site that gets its listings via an
          API from a Management System for estate agents working in Spain. </p>
        <div class="iconGrid">
          <img class="icons" src="img/Icons/Wordpress.png" alt="Oh shit">
        </div>
      </li>
    </ul>
  </section>
  <!-- ___________________ Education  _________________________ -->
  <section class="packages" id="education">
    <h3 class="title">Education</h3>
    <p>Some certificates that I have been awarded for the completion of online developer courses.</p>
    <hr>
    <ul class="grid">
      <li>
        <a href="https://www.udemy.com/certificate/UC-OMF0HPT6/" target="blank">
          <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-OMF0HPT6.jpg" class="projectImg">
          <h5>The Web Developer Bootcamp</h5>
        </a>
      </li>
      <li>
        <a href="https://www.udemy.com/certificate/UC-QDT1VT2F/" target="blank">
          <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-QDT1VT2F.jpg" class="projectImg">
          <h5>The Advanced Web Developer Bootcamp</h5>
        </a>
      </li>
    </ul>
  </section>
  <!-- __________________ Contact _______________________ -->
  <section class="contact" id="contact">
    <h3 class="title">Contact</h3>
    <p>Feel free to send me an email or give me a call.</p>
    <hr>
    <a href="mailto:hello@james-stevenson.com" style="color: var(--main-light)">
      <h2>
        <i class="fa fa-envelope"></i> hello@james-stevenson.com</h2>
    </a>
    <a href="tel:0034690282077" style="color: var(--main-light)">
      <h2>
        <i class="fa fa-phone"></i> (+34) 690 282 077</h2>
    </a>
  </section>
  <!-- ___________________ Footer ________________________ -->
  <footer>
    <p>Why are you reading this, there is never anything interesting in the footer.
      <i class="fa fa-rebel"></i>
    </p>
  </footer>
  </body>

  </html>