/* CSS Color Scheme Variables */
:root {
    /* Sandy */
    /* --main-light: #2c3531;
    --main-dark: #116466;
    --sec-light: #d9b08c;
    --sec-dark: #ffcb9a;
    --bg: #d1e8e2; */
    /* Blue Purple */
    /* --main-light: #470059;
    --main-dark: #632892;
    --sec-light: #0496ff;
    --sec-dark: #006ba6;
    --bg: #d1f7f7; */
    /* Dark and Teal */
    --main-dark: #45a29e;
    --main-light: #66fcf1;
    --sec-dark: #0b0c10;
    --sec-light: #1f2833;
    --font: #c5c6c7;

}


/* Non Variables  */
body {
    background-color: var(--sec-dark);
    color: var(--font); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555555
}

ul,

nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: var(--font)
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: var(--main-dark);
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px;
}

section:not(.hero):nth-child(even) {
    background-color: var(--sec-light)
}

section:not(.hero):nth-child(odd) {
    background-color: var(--sec-dark)
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: var(--main-light);
    border: 0;
    margin-bottom: 50px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 30px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    color: var(--main-light)
}
section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px){
    section {
        padding: 50px 20px; 
    }
}

/* Header Styling */
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: fadeIn 1s 0.5s forwards;
    opacity: 0;
    color: white;
    z-index: 1;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Quicksand", sans-serif;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}

@media (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

/* End Header Styling */

/* Hero Styling */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: var(--main-light);
}

.hero .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background: 
    /* top, transparent red */ 
    linear-gradient(
      275deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.95)
    ),
    /* bottom, image */
    url(https://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b9a4a76f7ed6634baffd807966f0ca8&auto=format&fit=crop&w=1912&q=80);
    filter: grayscale(100%);
}

.hero h1 {
    /* font: bold 60px "Open Sans", sans-serif; */
    margin-bottom: 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    font-weight: 400;
}

.hero h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: slideFade 1s 1s forwards;
}

.iconGrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iconGrid .icons {
    width: 60px;
    height: 60px;
    padding: 10px;  
    transition: transform .5s;
}

.iconGrid .icons:hover {
    transform: scale(2);
}

@keyframes slideFade {
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3{
        font-size: 24px;
    }
    .hero a.btn {
        padding: 15px 40px;
    }
}

/* Destinations Section */

/* .destinations .grid li {
    /* height: 500px; */
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
}

/* .destinations .grid li.small {
    flex-basis: 50%;
}

.destinations .grid li.large {
    flex-basis: 50%; */
}
.destinations p {
    text-align: justify;
}

/* @media (max-width: 1100px) {
    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 50%;
    }
} */

@media (max-width: 1100px) {
    .destinations .grid li {
        flex-basis: 100%;
    }
} 

/* Packages Section */

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: var(--main-dark);
}

.packages .grid li img {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 
                0 6px 20px 0 rgba(0, 0, 0, 1);
}

.packages .grid li h4{
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}

/* Testimonials Section */

.testimonials .quote {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

.testimonials .author {
    color: var(--main-dark);
}

@media (max-width: 800px) {
    .testimonials .quote {
        font-size: 18px;
        padding: 15px 0;
    }
    .testimonials .author {
        font-size: 14px;
    }
}

/* Contact section */

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact form .btn {
    padding: 18px 42px
}



.contact form input {
    padding: 15px;
    margin-right: 30px;
    font-size:18px;
    color: var(--main-dark);
    flex: 1;
}

@media (max-width: 1000px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0
    }
}

/* Footer Section */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-dark);
    color: var(--main-light);
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px
}

footer p {
    text-transform: uppercase;
    font-size:14px;
    opacity: 0.6;
    align-items: center;
    padding: 10px;
    text-align: center;
    
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }
    footer p {
        text-align: center;
        padding: 20px;
    }
    footer ul li {
        margin: 0 8px;    }
}


.leia {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1.2em;
    width: 1.2em;
    bottom: -0.2em;
    transition: transform .8s;
}

.leia:hover {
    transform: scale(5);
}

.about{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.aboutText {
    flex: 2 1 50%;
}
.aboutText p {
    text-align: justify;
    max-width: 100%;
}
.aboutImg {
    /* border: 5px solid red; */
    flex: 1 1 20%;
    margin: 20px;
    /* width: 20%; */
}
.aboutImg img {
    width: 100%;
    object-fit: fill;
    flex: 2 1 200px;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 
                0 6px 20px 0 rgba(0, 0, 0, 1);
}

.back {
    order: 1;
}
 .flex {
     flex: 1 1 200px;
     width: 20%;
 }

 @media (max-width: 1136px) {
     .back {
         order: 0;
     }
 }
  