<% include ../partials/header %>

<section class="playground">
    <ul class="grid">
        <% projects.forEach(function(project) { %>
            <li>
                <div>
                    <img src="img/<%= project.image %>" alt="">
                    <h4><%= project.name %></h4>
                    <p><%= project.description %></p>
                    <a href="/playground/<%= project.slug %>">
                        <button>View</button>
                    </a>
                </div> 
            </li>
        <% }); %>
    </ul>
</section>






