<% include ../partials/header %>

<section class="playground">
    <ul class="grid">
        <% projects.forEach(function(project) { %>
            <li>
                <div>
                    <div class="imageContainer" >
                        <img src="img/<%= project.image %>" alt="">
                    </div>
                    <a href="/playground/<%= project.slug %>">
                        <button><%= project.name %></button>
                    </a>
                    <p><%= project.description %></p>
                    
                </div> 
            </li>
        <% }); %>
    </ul>
</section>

