<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
	<link rel="stylesheet" type="text/css" href="/simpletodo/assets/css/todos.css">
	<script type="text/javascript" src="/simpletodo/assets/js/lib/jquery-3.2.1.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="container">
	<h1>To-Do List <i class="fa fa-plus"></i></h1>
	<input type="text" placeholder="Enter a new To-Do">
	<ul>
		<li><span><i class="fa fa-trash"></i> </span>one</li>
		<li><span><i class="fa fa-trash"></i> </span>two</li>
		<li><span><i class="fa fa-trash"></i> </span>three</li>
	</ul>
</div>


<script type="text/javascript" src="/simpletodo/assets/js/todos.js"></script>
</body>
</html>